/* General styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(25,24,26);
    color: #fff;
    line-height: 1.4;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

ol, ul{
    list-style: none;
}

/* nav styles */

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    padding-top: 20px;
    padding-bottom: 10px;
  }

.hamburger{
    display: block;
    cursor: pointer;
  }

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: white;
}
.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
 }

 .nav-menu{
  position: absolute;
  top: -100%;
  flex-direction: column;
  width: 90%;
  text-align: center;
  transition: 0.3s;
}



.nav-item:hover, .nav-item:focus{
    background-color: #fff;
    color: black;
    transition: 0.3s;
}

.nav-menu.active{
  top: 3.5rem;
}

.nav-link{
    width: 100%;
    display: inline-block;
    padding: 0.8rem;
}

.wrapper.active{
    margin-top: 8rem;
    transition: 0.3s;
}

/* main styles*/

.wrapper{
    padding: 1rem;
    transition: 0.3s;
}

body{
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

h1, h2{
    line-height: 1;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
}

.heading-line{
    margin: 1rem 0;
    display: block;
    width: 75%;
    max-width: 600px;
    height: 3px;
    background-color: #fff;
    transform: translate(0px, 0px);
    animation: 0.8s fadein 0.4s forwards;
    opacity: 0;
    z-index: 1;
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}


.about-button{
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    width: 9rem;
    border: 2px solid #fff;
    padding: 0.3rem 1rem;
    transition: all 0.2s ease;
    margin-bottom: 1rem;
}

.about-button:hover{
    color:black;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    width: 9rem;
    background-color:#fff;
    border: 2px solid #fff;
    padding: 0.3rem 1rem;
    transition: all 0.2s ease;
}

.about-open{
    display: none;
}
.about-open.open{
    display: block;
    margin-bottom: 1rem;
}

.portfolio_section{
    margin-bottom: 2rem;
    border-bottom: 1px solid #434343;
}

.img_container{
    border: 3px solid #fff;
    border-bottom: none;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    display: block;
}


.shown_image img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.shown_image:hover img {
	transform: scale(1.3);
}

.hover_image{
    transition: all 0.5s;
    position: absolute;
    top: 100%;
}

.project-link_container{
    display: flex;
    margin-bottom: 0.7rem;
}

.project-link_container a{
    font-size: 1rem;
    padding: 0.3rem 1rem;
    border: 3px solid #fff;
    width: 50%;
    text-align: center;
    transition: all 0.2s ease;
}

.project-link_container a:hover{
    font-size: 1rem;
    padding: 0.3rem 1rem;
    border: 3px solid #fff;
    color: black;
    background-color: #fff;
    width: 50%;
    text-align: center;
    transition: all 0.2s ease;
}

.project-link_container a:first-of-type{
    border-right: none;
}

.project-title_container{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0.3;
    text-transform: uppercase;
}

.project-text{
    font-weight: 200;
    margin-bottom: 1rem;
}

.portfolio_section:last-of-type{
    padding-bottom: 3rem;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #191919;
    height: 4rem;
    width: 100%;
    box-shadow: 0 0 2rem black;
    border-top: 1px solid #434343;
    align-items: center;
    justify-content: center;
}

.footer-logo{
    display: inline-block;
    padding:10px;
}

.footer-logo:first-of-type{
    border-right: 2px solid #434343;
}
