/* General styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
nav{
    list-style: none;
}
a{
    color:#fff;
    text-decoration: none;
    opacity: 0.8;
}
a:hover{
    opacity: 1;
}
a.btn{
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #e52a6f;
    opacity: 1;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}


/*Menu styles*/

header{
    color: #fff;
    position: absolute;
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 0.8s fadein 0.4s forwards;
    opacity: 0;
    z-index: 1;
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}

header a:hover{
    opacity: 1;
    text-shadow: 1px 1px 1px;
}

header nav{
    display: flex;
    margin-right: 40px;
}

header nav li{
    margin: 0 15px;
}

/* Tagline styles*/

.tagline{
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

.tagline .background{
    position:absolute;
    background-image: linear-gradient(to right bottom, rgba(30, 115, 172, 0.8), rgba(142, 57, 153, 0.7)), url(../images/background.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.tagline h1{
    font-size: 6rem;
    margin-bottom: 15px;
}
.tagline h3{
    font-size: 2.8rem;
    margin-bottom: 45px;
}

.tagline a.btn{
    padding: 20px 45px;
}

.tagline-content{
    opacity: 0;
    margin-top: 100px;
    animation: 0.8s slidefade 0.4s forwards;
}

@keyframes slidefade{
    100%{
        opacity: 1;
        margin-top: 0;
    }
}